//vars
$primary-lightpink: rgb(237, 191, 198);
$primary-darkviolet: rgb(67, 27, 49);
$primary-beige: rgb(203, 164, 156);
$primary-drown: rgb(95, 72, 66);
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-large-desktop: 1200px;