*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}
.toDoApp__container {
  display: flex;
  flex-direction: column;
  border: .1rem solid black;
  min-width: 19rem;

  &__menu--box {
    margin: 1rem;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
  }
  &--list {
    padding: 0 1.3rem;
    &--item {
      border: .1rem  solid black;
      padding: .7rem;
      margin: .7rem auto;
      &--checkbox {
        margin: 0 .7rem;
      }
    }
  }
}

.btn {
  background-color: rgb(251, 250, 248);
  max-width: 4rem;
  padding: 1rem;
}

.newTask__container {
  background-color: rgb(181, 179, 179);
  border: 2px solid black ;
  display: flex;
  flex-wrap: wrap;
  &--heading{
margin: 10px auto;
  }

  &--input{
    min-width: 90%;
    margin: 10px auto;
  }
}

.footer{
position: sticky;
}

.container{
  position: relative;
}