*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // position: relative;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-family: sans-serif;
  position: relative;
  min-height: 100vh;
  &__heading {
    margin-top: 3.5rem;
  }
  .toDoApp__container {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid black;
    min-width: 90vw;

    &__menu--box {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-around;
    }
    &--list {
      margin:0 1.8rem;
      &--item {
        border: 0.1rem solid black;
        padding: 0.7rem;
        margin: 0.7rem auto;
        position: relative;
        &--checkbox {
          margin: 0 0.7rem;
          position: absolute;
          right: 0;
        }
      }
    }
  }
  .btn {
    background-color: rgb(251, 250, 248);
    max-width: 4rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
  }
}

.newTask__container {
  background-color: rgb(181, 179, 179);
  border: 0.3px solid black;
  display: flex;
  flex-wrap: wrap;
  &--heading {
    margin: 10px auto;
  }

  &--input {
    min-width: 90%;
    margin: auto;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  min-width: 100vw;
}

.container {
  // position: relative;
}

ol{
width: 100%;

}