@import "/src/scss/libs/dragula.scss";
//hitta rätt sätt att import andra scss filer i main scss

$text-color: rgb(237, 191, 198);
$bg-color: rgb(38, 12, 26);
$accent-color: rgb(175, 141, 134);
$primery-drown: rgb(95, 72, 66);

//normilize
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg-color;
  color: $text-color;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  position: relative;
  &__heading {
    margin: 3.6rem;
  }

  .to-do-app {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid $accent-color;
    min-width: 90vw;
    min-height: 100px;
    background-color: $primery-drown;
    &__menu-box {
      margin: 1rem;
      display: flex;
      flex-direction: row;
      list-style: none;
      justify-content: space-around;
    }
    &__menu-item {
      margin: 0 1.8rem;
      padding: .4rem;
      border: 0.2rem solid $primery-drown;
      cursor: pointer;
    }
    &__menu-item:hover {
      background-color: $accent-color;
    }
    &__menu-item:active {
      background-color: $accent-color;
      color: white;
    }
    &__list {
      padding-left: 1.7rem;
      min-height: 100vh;
    }
    &__list-item {
      background-color: $accent-color;
      padding: 0.7rem;
      margin: 0.7rem auto;
      cursor: pointer;
    }
    &__list-checkbox {
      margin: 0 0.7rem;
      cursor: pointer;
    }
  }

  .btn {
    background-color: $bg-color;
    color: $text-color;
    max-width: 4rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
}

.form {
  position: sticky;
  bottom: 0;
  min-width: 100vw;
  &__wrapper {
    background-color: $primery-drown;
    border: 0.3px solid black;
    display: flex;
    flex-wrap: wrap;
  }
  &__input {
    width: 90%;
    margin: auto;
    background-color: $text-color;
    cursor: pointer;
  }
  &__heading {
    margin: 10px auto;
  }
}

.gu-mirror {
  font-family: sans-serif;
  list-style: none;
}

// gjort- Använda mobile first 
// - Använda minst en breakpoint
// gjort - Använda scss (nästling, variabler et.c.)
// - Använda mixins för att göra er responsitivitet

//Mixins , adoptiv, bootstrap kvar